.myBG {
    height: 100vh;
    background: url("../assets/images/bgMain.jpg");
    background-size: cover;
}

.intro {
    height: 600px;
    display: flex;
    /* justify-content: flex-end;
    align-items: flex-end; */
}

.tittle {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 4px;
}

